body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;


}
p{
    font-family: arial;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    text-align: centre;
    text-decoration: underlines;
    text-transform: upercase;
    text-shadow: 0px 0px 10px #f05;
    color: blue;
    display: block;

}
img{
    border: 2px solid #f04
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    padding: 3px

}
